<?xml version="1.0" encoding="GBK"?>
<configuration status="debug" monitorInterval="5">
    <!-- 定义变量参数 -->
    <properties>
        <!--日志输出目录-->
        <Property name="logDir">/home/eland/tomcat7.0dty/logs</Property>
    </properties>

    <!-- 定义日志输出位置 -->
    <appenders>
        <!-- 输出日志到控制台 -->
        <Console name="CON_OUT">
            <PatternLayout pattern="%d [%-5p][%24c{1}:%-3L] %m%n%throwable" charset="UTF-8"/>
        </Console>

        <!--每个月的日志文件会被自动归档-->
        <RollingFile name="ERROR_FILE" fileName="${logDir}/app_error.log"
                     filePattern="${logDir}/app_error.%d{yyyy-MM-dd}.log">
            <!--日志输出格式-->
            <PatternLayout pattern="%d [%-5p][%24c{1}:%-3L] %m%n%throwable"/>
            <!--这里的1是一天而不是一小时-->
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <!--过滤日志级别，匹配ERROR，其他拒绝-->
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>

        <!--邮件发送-->
        <SMTP name="Mail"  subject="[业务告警][东铁营]系统错误"
              to="shenjp@bjshfb.com"
              cc="linql@bjshfb.com,fuzq@bjshfb.com"
              from="norelay@bjshfb.com"
              smtpPassword="SHfb_123#@" smtpHost="smtp.mxhichina.com" smtpPort="25" bufferSize="30"
              smtpUsername="norelay@bjshfb.com" filter="ERROR">
            <!--过滤日志级别，匹配ERROR，其他拒绝-->
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </SMTP>
        <!--异步输出日志-->
        <Async name="ASYNC_OUT" blocking="false">
            <!--错误日志邮件输出-->
            <appender-ref ref="Mail"/>
        </Async>
    </appenders>

    <!--类输出控制-->
    <loggers>
        <logger name="com.shfb.oframe.core.util.spring" level="INFO"/>
        <!--默认为DEBUG级别-->
        <root level="INFO">
            <appender-ref ref="CON_OUT"/>
            <appender-ref ref="ASYNC_OUT" level="ERROR"/>
        </root>
    </loggers>
</configuration>
